.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	margin-top: 1rem;
	padding: 0.8rem;
	appearance: none;
	border: none;
	outline: none;
	background-color: #8cdfff;
	border-radius: 0.5rem;
	box-shadow: 0 0 3px rgb(0 0 0 / 30%);
	cursor: pointer;
}

button:hover {
	transform: scale(1.01) translateY(-0.1rem);
}

button[disabled]:hover {
	transform: none;
	cursor: initial;
}

button:active {
	transform: scale(0.95);
}
