.board {
	display: grid;
	outline: 3px solid #06769b;
	width: fit-content;
	margin-top: 1rem;
	border-radius: 5px;
	box-shadow: 0 0 12px rgb(0 0 0 /30%);
}

.board__square {
	background-color: #e2f1f6;
	border: 1px solid #88c0d3;
	min-width: 100px;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

	background: var(--bcColor, #e2f1f6);
	background-image: var(--bcImage);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.board__square.selected {
	--bcColor: lightpink;
	--bcImage: url("./../assets/wrong-answer.svg");
}

.board__square.correct {
	--bcColor: lightgreen;
	--bcImage: url("./../assets/right-answer.svg");
}
